        <header>
            <h1>Image details</h1>
        </header>
            <th>Post Title: </th>
            <td>Title of the post</td>
            <br>
            <th>Post Author: </th>
            <td>Author's name</td>
            <br>
            <th>Post creation time: </th>
            <td>MM-DD-YYYY</td>
            <br>
            <img src="public/images/Image.jpg" alt="Image">


